services:
  postgres:
    image: postgres:15-alpine
    ports:
      - '5434:5432'
    environment:
      POSTGRES_DB: express_auth_boilerplate
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis:7.4-alpine
    restart: always
    ports:
      - "6380:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass default

  mailhog:
    image: mailhog/mailhog
    container_name: 'mailhog'
    ports:
      - '1025:1025'
      - '8025:8025'
